@font-face {
    font-family: 'Satoshi-Regular';
    src: url('../fonts/Satoshi-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
  
@font-face {
    font-family: 'Satoshi-Italic';
    src: url('../fonts/Satoshi-Italic.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Satoshi-Bold';
    src: url('../fonts/Satoshi-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}


body {
    margin: 50px ;
    background-color: rgb(34, 34, 34);
    font-family: 'Satoshi-Regular';
    color: #d8c181;
}

header {
    font-size: 2em;
    margin-bottom: 50px;
    color: #d8c181;
    font-family: 'Satoshi-Italic';
    text-align: left;
    border-bottom-style: solid;
}

#nameplate {
    font-family: 'Satoshi-Bold';
    margin-bottom: -40px
}

#contacts {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline; /* Underline on hover */
}