@font-face {
    font-family: 'Satoshi-Regular';
    src: url('..resources/fonts/Satoshi-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
  
@font-face {
    font-family: 'Satoshi-Italic';
    src: url('../resources/fonts/Satoshi-Italic.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Satoshi-Bold';
    src: url('../resources/fonts/Satoshi-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
